    <!-- Sessão com carrossel -->
    <section id="carousel">
        <div class="container mt-4">
            <div class="card-citacao">
                <div class="card-body">
                Se você fosse traído, buscaria vingança a qualquer preço? <br/> Joaquim busca vingança. Maria, talvez, só quisesse sentir-se viva novamente — depois de ser deixada de lado por quem prometeu amá-la.<br/>Este romance não oferece respostas fáceis — apenas caminhos tortuosos.
                </div>
            </div>
            <div class="carousel slide carousel-fade" data-ride="carousel" id="carouselExampleFade">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img alt="Imagem do Reino Cemitério" class="imgCarousel" src="cem2.1.jpg">
                    </div>
                    <div class="carousel-item">
                    <img alt="Imagem do Reino Encruzilhada" class="imgCarousel" src="enc2.1.jpg"/>
                    </div>
                    <div class="carousel-item">
                    <img alt="Imagem do Reino Natural" class="imgCarousel" src="nat2.1.png"/>
                    </div>
                    <div class="carousel-item">
                    <img alt="Cemitério" class="imgCarousel" src="cemiterio.png"/>
                    </div>
                    <div class="carousel-item">
                    <img alt="Designer" class="imgCarousel" src="Designer.png"/>
                    </div>
                    <div class="carousel-item">
                    <img alt="Encruzilhada" class="imgCarousel" src="encruzilhada.png"/>
                    </div>
                    <div class="carousel-item">
                    <img alt="Silhueta" class="imgCarousel" src="silhueta.png"/>
                    </div>
                </div>
                    <a aria-label="Anterior" class="carousel-control-prev" data-slide="prev" href="#carouselExampleFade" role="button">
                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                    </a>
                    <a aria-label="Próximo" class="carousel-control-next" data-slide="next" href="#carouselExampleFade" role="button">
                    <span aria-hidden="true" class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </section>


