<h2>Primeiro Capítulo</h2>

<section id="capitulo">
    <div class="capitulo-layout">
        
        <p id="banner1">
            “As figuras que antes pareciam humanas agora revelavam formas grotescas, distorcidas, monstruosas — e Joaquim compreendeu, com um calafrio, que estava em um covil de criaturas sombrias.”
        </p>

        <div class="botao">
            <button class="image-button">
                <img src="/capa.png" alt="Acesso a prévia" id="capa" target="_blank">
            </button>
        </div>
        
        <p id="banner2">
            “O canto o fez esquecer a dor, a fome e a sede — e uma alegria estranha, quase anestesiante, tomou conta de seu ser.”
        </p>
        
    </div>
</section>