<h2>Primeiro Capítulo</h2>

<section id="capitulo">
    <div class="capitulo-layout">
        
        <p id="banner1">
            “As figuras que antes simulavam humanidade agora se retorciam em formas grotescas. Joaquim sentiu o calafrio: aquilo não era uma sala, era um covil.”
        </p>

        <div class="botao">
            <button class="image-button">
                <img routerLink="/livro" src="/capa.jpeg" alt="Acesso a prévia" id="capa" target="_blank">
            </button>
        </div>
        
        <p id="banner2">
            "Entre o sangue e a seda, a vingança de Joaquim e o renascimento de Maria colidem. Não espere redenção ou respostas fáceis; aqui, o destino só conhece caminhos tortuosos."
        </p>
        
    </div>
</section>