<h2>Primeiro Capítulo</h2>

<section id="capitulo">
    <div class="capitulo-layout">
        
        <p id="banner1">
            “As figuras que antes pareciam humanas agora revelavam formas grotescas, distorcidas, monstruosas — e Joaquim compreendeu, com um calafrio, que estava em um covil de criaturas sombrias.”
        </p>

        <div class="botao">
            <button class="image-button">
                <img routerLink="/livro" src="/capa.jpeg" alt="Acesso a prévia" id="capa" target="_blank">
            </button>
        </div>
        
        <p id="banner2">
            "Se você fosse traído, buscaria vingança a qualquer preço? Joaquim busca vingança. Maria, talvez, só quisesse sentir-se viva novamente.<br/>Este romance não oferece respostas fáceis — apenas caminhos tortuosos.""
        </p>
        
    </div>
</section>