<!-- Footer -->
<footer>
    <div class="links">
        <a class="link" href="https://www.instagram.com/ocastelodasmarias/" rel="Instagram noopener noreferrer" target="_blank">
            <img alt="Instagram" class="logo" src="https://cdn-icons-png.flaticon.com/512/3955/3955024.png"/>
            <p class="textlink">&#64;ocastelodasmarias</p>
        </a>
        <a class="link" href="https://www.tiktok.com/@ocastelodasmariaslivro/" rel="tiktok noopener noreferrer" target="_blank">
            <img alt="TikTok" class="logo" src="https://cdn-icons-png.flaticon.com/512/3046/3046121.png"/>
            <p class="textlink">&#64;ocastelodasmariaslivro</p>
        </a>
        <a class="link" href="mailto:ocastelodasmarias@gmail.com" rel="e-mail">
            <img alt="E-mail" class="logo" src="https://cdn-icons-png.flaticon.com/512/732/732200.png"/>
            <p class="textlink">ocastelodasmarias&#64;gmail.com</p>
        </a>
    </div>
    <p class="copyright">© 2025 Castelo das Marias. Todos os direitos reservados.</p>
</footer>

