<nav class="navbar navbar-expand-lg header-custom">
  <div class="container-fluid">
    <a class="nav-link text-lightbeige" routerLink="/" (click)="collapseMenu()">Home</a>

    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-lightbeige" href="/downloads" (click)="collapseMenu()">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-lightbeige" routerLink="/carousel" (click)="collapseMenu()">Imagens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-lightbeige" routerLink="/author" (click)="collapseMenu()">Autor</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a
            id="comprar"
            class="btn btn-comprar"
            href="https://fantasticoseditora.com.br/"
            target="_blank"
            rel="noopener noreferrer"
            (click)="collapseMenu()"
          >
            Comprar
          </a>
        </li>

      </ul>

      <div class="d-flex align-items-center">
        <div class="d-flex align-items-center">
        <div class="audio-wrapper me-3">
          <audio controls class="audio-player">
            <source src="magoa.mp3" type="audio/mp3" />
          </audio>
        </div>
        </div>
      </div>
    </div>
  </div>
</nav>