<header>
  <nav class="navbar navbar-light bg-light">
    <div class="" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only"></span></a>
        <a class="nav-item nav-link" href="/downloads">Download</a>
        <a class="nav-item nav-link" routerLink="/carousel">Imagens</a>
        <a class="nav-item nav-link" routerLink="/author">Autor</a>
        <a class="nav-item nav-link" id="comprar" href="https://fantasticoseditora.com.br/" target="_blank" rel="noopener noreferrer">Comprar</a>      </div>
    </div>
    <div>
      <audio controls class="flex-fill">
        <source src="magoa.mp3" type="audio/mpeg">
      </audio>
    </div>
  </nav>
</header>
