.container-fluid {
  display: flex;
  align-items: center;
}

.header-custom {
  background-color: var(--warmbrown);
  padding: 0.5rem 1rem; 
}

.header-custom .nav-link {
  color: var(--lightbeige) !important;
  font-weight: 500;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  transition: background-color 0.3s, color 0.3s;
}

.header-custom .nav-link:hover,
.header-custom .nav-link:focus {
  color: #ffffff !important;
  background-color: rgba(0, 0, 0, 0.2); 
  border-radius: 4px;
}

.navbar-toggler {
  border-color: var(--lightbeige); 
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem rgba(245, 245, 220, 0.5); 
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23F5F5DC' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-comprar {
  background-color: var(--warmbrown);
  color: var(--lightbeige); 
  border: 1px solid var(--lightbeige);
  transition: all 0.3s;
  padding: 5px 8px;
  line-height: 1.5
}

.btn-comprar:hover {
  background-color: #fff;
  border-color: #fff;
  color: var(--warmbrown);
}

li.nav-item {
  padding: 0;
  margin: 0;
}

.audio-player {
  height: 25px; 
  max-width: 150px;
  min-width: 120px;
}

@media (max-width: 991.98px) {
  .audio-wrapper {
    margin: 1rem 0; 
  }
  .audio-player {
    max-width: 200px;
  }
  .d-flex {
    flex-direction: column; 
    align-items: flex-start !important;
  }
  .btn-comprar {
    max-width: 100px;
  }
}