<div class="lira-container container-fluid">
  <h1>Reino da Lira</h1>
  <h2>Guardiã: Maria Padilha</h2>

  <div class="imagem-lira">
    <img src="/guardiao-padilha.jpeg" alt="Maria Padilha">
  </div>

    <p class="descricao">
      O Reino da Lira não é um lugar — é um sopro. Um suspiro quente que dança entre véus de cetim e cortinas vermelhas, onde o desejo não se esconde, mas se apresenta em forma de música, corpo e olhar. Ali, o vento não sopra — ele sussurra segredos antigos, embalando os visitantes em melodias que curam, provocam e revelam.
        <br><br>
      Criado para acolher os que carregam o peso do desejo reprimido, o reino é um bordel disfarçado de estalagem. Este reino é aéreo — leve, livre, mas cortante como o pensamento que não se pode evitar. A alegria é a chave, e o prazer, a porta. A dor é tratada com vinho, dança e alegria. Lá, o sofrimento vira arte, e o julgamento, desejo. Malandro vira aprendiz e diplomatas viram alunos.
        <br><br>
      Maria Padilha reina com olhos que sabem demais. Vestida em vermelho e ouro, ela é mãe e senhora, amante e juíza. Suas Marias, mulheres de beleza sobrenatural, caminham como notas de uma sinfonia sensual. Vestem rendas, espartilhos e fendas que não escondem — revelam. A Lira, símbolo do reino, vibra com cada passo, cada gargalhada que ecoa pelos corredores.<br><br>
      A regra é simples e absoluta: ninguém toca sem permissão. O desejo das Marias é lei, e quem ousa desrespeitar é expulso com brutalidade e enfrenta o reflexo da própria arrogância. Os soldados da Encruzilhada patrulham com firmeza, garantindo que o encanto não vire abuso.
        <br><br>
      Joaquim chegou ali como quem foge — mas foi capturado pelo que negava. Tentou escapar, mas o prazer o puxava de volta, como um espelho que não se quebra. Cada vez que retornava, enfrentava não as mulheres, mas a si mesmo. O orgulho ferido, a masculinidade em xeque, a moral em ruínas. No palco da Lira, ele não era protagonista — era espectador da própria desconstrução.
        <br><br>
      O Reino da Lira é onde o ego se desfaz em dança. Onde os grandes homens negociam em meio ao perfume e ao riso, e onde a verdade se revela entre acordes e gargalhadas. É o reino da liberdade e da reparação, da valorização do feminino e da aceitação do que se é — sem máscaras, sem desculpas.
        <br><br>
      Ao entrar, o visitante sente dúvida, êxtase, medo. A música toca onde dói, e as cantoras curam com voz e presença. A sanidade vacila, mas a alma desperta.
        <br><br>
      “Aceite suas dores — apenas mergulhando em si é possível renascer das cinzas.”
        <br>
        
</div>

