/* Sinopse */

img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 0 0 10px var(--antiquegold);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

#capa-livro {
    width: 100%; 
    max-width: 300px;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px var(--antiquegold); 
    border-radius: 8px; 
    width: 100%; 
    max-width: 300px; 
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px var(--antiquegold); 
    border-radius: 8px;
    margin-left: auto;  /* Centraliza o bloco */
    margin-right: auto; /* Centraliza o bloco */
    margin-bottom: 30px;
  }
  

#sinopse {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sinopse {
  text-align: justify;
  margin: 0 auto;
  max-width: 90%; /* Define a largura máxima como 60% do contêiner pai */
  margin-left: auto;  /* Centraliza o bloco */
  margin-right: auto; /* Centraliza o bloco */
  margin: 1rem 0; /* Mantido, mas reordenado */
  background-color: rgba(80, 80, 80, 0.3); /* cinza pedra translúcido */
  border-left: 5px solid var(--warmbrown); /* vermelho profundo */
  padding: 3rem;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.8;
  color: var(--lightbeige);
}

p {
  font-size:large;
}

@media (max-width: 575.98px) {
  #sinopse {
    margin: 0;
    padding: 0;
  }

.sinopse {
  max-width: 100%; /* Define a largura máxima como 60% do contêiner pai */
  padding: 10px;
  border-radius: 8px;
  margin: 0 10px 1rem 10px;
}

  #capa-livro {
    width: 70%;
  }

  p {
    font-size: 95%;
  }
}