<!-- Sinopse -->
<section id="sinopse">
    <div>
        <img alt="Livro O Castelo das Marias" id="capa-livro" onclick="window.location.href='capitulo.html'" src="livro.png"/>
    </div>
    <div class="sinopse">
        <h2>Sinopse</h2>
        <p>Joaquim nunca imaginou que a traição o levaria tão longe. Movido pelo desejo de vingança contra a esposa infiel, o homem conservador cruza os limites da razão e adentra o Castelo das Marias — um bordel enigmático situado em um mundo paralelo, onde o prazer é apenas o início de uma jornada sombria.</p> <br>
        <p>Nesse universo dividido entre quatro reinos — o Natural, a Lira, a Encruzilhada e o Cemitério — criaturas sobrenaturais, feiticeiras sedutoras e metamorfos habitam cenários que vão de salões luxuosos a ruas de pedra e túmulos esquecidos.</p> <br>
        <p>À medida que se afasta da realidade, Joaquim é confrontado por seus desejos mais reprimidos e segredos vergonhosos. As mulheres que o cercam podem ser sua perdição — ou o espelho de tudo o que ele tentou negar.</p>
        <p>Neste romance sensual e aterrorizante, o fantástico se entrelaça ao drama humano, revelando que o verdadeiro horror não está nas criaturas do além, mas na luta contra aquilo que arde dentro de nós.</p> <br>
        <p>No fim, resta a pergunta: o que é mais perigoso — o mundo oculto que o seduz ou os abismos que ele carrega dentro de si?</p> <br>
    </div>
</section>

