<section id="sinopse">
    <div>
        <img alt="Livro O Castelo das Marias" id="capa-livro" onclick="window.location.href='capitulo.html'" src="livro.jpeg"/>
    </div>
    <div class="sinopse">
        <h2>Sinopse</h2>
        <p>Joaquim acreditava que a traição era o fim de sua jornada, mas ela era apenas o portal. Consumido pelo desejo de vingança contra a esposa, o homem de valores rígidos cruza a fronteira da razão e desperta no Castelo das Marias — um bordel enigmático cravado em um mundo paralelo, onde o prazer é a moeda de troca e a sanidade, o preço.</p>
        <p>Nesse cosmos dividido entre quatro reinos — o Natural, a Lira, a Encruzilhada e o Cemitério —, Joaquim navega por um labirinto de salões luxuosos, ruas de pedra e túmulos esquecidos, habitado por criaturas que desafiam a lógica, de feiticeiras a metamorfos.</p>
        <p>Enquanto a realidade se desfaz, ele é confrontado pelo que sempre tentou esconder: seus desejos reprimidos e segredos vergonhosos. Ali, as mulheres que o cercam deixam de ser meras figuras de tentação para se tornarem o espelho de sua própria queda.</p>
        <p>Neste romance onde o sensual e o aterrorizante colidem, o fantástico revela o drama humano em sua forma mais nua. Joaquim descobrirá que o verdadeiro horror não reside nas sombras das ruas da cidade, mas no abismo que arde dentro de si.</p>
        <p>Até onde você iria para punir quem o feriu, se o custo fosse a sua própria alma?</p> 
    </div>
</section>

