<div class="cemiterio-container container-fluid">
  <h1>Reino do Cemitério</h1>
  <h2>Guardião: Caveira</h2>

  <div class="imagem-reino">
    <img src="/guardiao-caveira.jpeg" alt="Guardião Caveira">
  </div>

    <p class="descricao">
      O Reino do Cemitério é onde a terra se fecha sobre os passos dos que ousaram desafiar a lei. Não é apenas um território — é um organismo antigo, que respira através das covas e pulsa com o sangue seco da justiça. Ali, a morte não é fim, é sentença. É a lâmina que corta o ciclo e obriga a alma a encarar o que semeou, mesmo que tenha tentado esconder sob flores.
      <br><br>
      Criado para conter os que corrompem o equilíbrio, o Cemitério não oferece misericórdia. Sua energia é telúrica, brota das entranhas do mundo como um grito abafado. Tudo ali é firme, sóbrio, rígido — como se o tempo tivesse parado para assistir ao julgamento eterno. A noite é perpétua, o nevoeiro é angustiante, e o silêncio pesa como um caixão sobre os ombros dos vivos.
        <br><br>
      O Senhor Caveira governa com olhos que não possui. Seco, direto, implacável, ele não busca redenção — apenas execução. Tem prazer em aplicar a punição, como se cada sentença fosse uma obra-prima feita de ossos frágeis, friamente organizados. Suas servas, as Caveiras, patrulham o reino como sombras sem alma, envoltas em capas escuras, longas e com capuzes que ocultam qualquer vestígio de humanidade. Os habitantes não têm moral, não se dobram às regras sociais. Vivem entre o caos e a ordem, guiados pela força bruta da consequência.
      <br><br>
      A Calunga de Trás é o ventre podre do reino. Atrai os promíscuos e pervertidos, aprisionando-os em ilusões que se tornam cárceres. Quem tenta fugir ou desobedecer é lançado às profundezas, onde o pânico é tão intenso que anestesia até a alma. O visitante que entra por vontade própria sente medo e arrependimento; aquele que é arrastado sente o vazio absoluto, como se a terra o engolisse e o tempo o esquecesse.
      <br><br>
      Joaquim chegou ao Cemitério tomado pela vingança. Lá, foi engolido pela desgraça e preso em sua própria sombra. Apenas ao pagar o preço imposto pelo Caveira poderá vislumbrar a chance de se reerguer. Mas o Cemitério não é apenas um lugar — é um espelho enterrado, onde cada alma vê o que tentou esconder. É a travessia que não se faz com os pés, mas com o peso do que se foi.
      <br><br>
      “Você faz, você paga. Não tem perdão.”
      <br>

  </div>
