.carousel-item {
    min-height: 80vh !important; 
    display: block; 
}

.imgCarousel {
    height: 400px;
    width: 400px;
    object-fit: cover; 
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.card-body {
    height: auto;
}

#inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 40px 0;
}

.card-citacao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--lightbeige);
    color: var(--warmbrown);
    font-weight: bold;
    border-radius: 10px;
    line-height: 32px;
    padding: 20px;
    margin-bottom: 40px;
}

#carousel {
    margin: 40px 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .carousel-item {
        min-height: 50vh !important; 
    }
}

